.center {
    margin: 0 auto;
    padding: 2%;
}
.handle {
    position: relative;
    left: 92%;
    top: 93%;
    background: red;
    z-index: 10;
    cursor:nwse-resize;
    padding: 0% 5% 5% 4%;
}
.imgBox {
    width: 512px;
    height: 512px;
    background-image: url("img.jpg");
    -webkit-background-size: contain;
    background-size: contain;
}